#wrapper #header {
  background-color: #000000;
  border-bottom: 1px solid #303030;
}
#wrapper #header .shang {
  height: 65px;
  width: 1000px;
  margin: auto;
  align-items: center;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
#wrapper #header .shang .zuo {
  align-items: center;
  display: flex;
}
#wrapper #header .shang .zuo .logo22 a img {
  height: 40px;
  margin: 8px 8px;
}
#wrapper #header .shang .zuo .logo33 a img {
  height: 50px;
  margin: 8px 8px;
}
#wrapper #header .shang .zhong nav {
  font-size: 0px;
}
#wrapper #header .shang .zhong nav a {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.308);
}
#wrapper #header .shang .zhong nav a:last-child {
  border: none;
}
#wrapper #header .shang .tubiao a {
  padding-right: 10px;
}
#wrapper #header .shang .tubiao a img {
  height: 20px;
  width: 20px;
}
#xiabufen {
  padding-top: 200px;
  height: 3500px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#xiabufen .jieshao {
  display: grid;
  width: 1000px;
  grid-template-columns: 62% auto;
  grid-template-rows: 338px 200px;
}
#xiabufen .jieshao .jieshaozuo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#xiabufen .jieshao .jieshaozuo H1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  display: flex;
  line-height: 1.2;
  padding-bottom: 15px;
}
#xiabufen .jieshao .jieshaozuo P {
  color: #afafaf;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  text-align: justify;
}
#xiabufen .jieshao .jieshaotupian .yousi {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousishang {
  display: flex;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousishang .yousizuo1 {
  padding-right: 10px;
  padding-bottom: 7px;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousishang .yousizuo1 img {
  border-radius: 8px;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousishang .yousiyou1 img {
  border-radius: 8px;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousixia {
  display: flex;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousixia .yousizuo2 {
  padding-right: 10px;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousixia .yousizuo2 img {
  border-radius: 8px;
}
#xiabufen .jieshao .jieshaotupian .yousi .yousixia .yousiyou2 img {
  border-radius: 8px;
}
#xiabufen #xiantiao {
  display: flex;
  width: 1050px;
  border-bottom: 1px solid #cccccc4f;
  margin-bottom: 200px;
}
#xiabufen .tuandui {
  width: 1000px;
  padding-bottom: 200px;
}
#xiabufen .tuandui h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  display: flex;
  line-height: 1.2;
  padding-bottom: 58px;
}
#xiabufen .tuandui .tuanduixinxi {
  display: grid;
  width: 1000px;
  grid-template-columns: 212px 805px;
  justify-content: space-between;
  padding-bottom: 7px;
}
#xiabufen .tuandui .tuanduixinxi .tuanduitupian img {
  border-radius: 8px;
}
#xiabufen .tuandui .tuanduixinxi p {
  display: grid;
  align-items: center;
  align-content: center;
  text-align: justify;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#xiabufen .tuandui .tuanduixinxi p a {
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 800;
  grid-row-start: 2;
}
#xiabufen .tuandui .tuanduixinxi p b {
  color: #afafaf;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;
  grid-row-start: 3;
}
#xiabufen .luxian {
  width: 1000px;
  padding-bottom: 177px;
}
#xiabufen .luxian .luxiantu .luxiandabiaoti h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  display: flex;
  line-height: 1.2;
  padding-bottom: 58px;
}
#xiabufen .luxian .luxiantu .luxianxinxi {
  display: grid;
  grid-template-columns: 60%;
}
#xiabufen .luxian .luxiantu .luxianxinxi h2 {
  color: #f3d04f;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
}
#xiabufen .luxian .luxiantu .luxianxinxi h3 {
  color: #ffffff;
  font-size: 23px;
  font-weight: 900;
  padding-bottom: 10px;
}
#xiabufen .luxian .luxiantu .luxianxinxi h1 {
  color: #afafaf;
  font-size: 14px;
  line-height: 2;
}
#xiabufen .luxian .luxiantu .luxianxinxi a {
  color: #afafaf;
  font-size: 14px;
  line-height: 2;
  padding-bottom: 15px;
}
#xiabufen .luxian .luxiantu h2 {
  color: #afafaf;
  font-size: 14px;
  padding-bottom: 30px;
}
#xiabufen .zuihou h1 {
  color: #afafaf86;
  font-size: 8px;
  padding-bottom: 10px;
}
